<div  style="min-height: 100vh;" class="pding d-flex justify-content-center align-items-center  about">
    <div class="w-100">
        <h2 class="mainH2 text-center"
        style="margin-bottom:100px ;"
        >Freelance Projects</h2>
        <div class="container text-white">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="row">
                        <div class="col-lg-3 mb-3">
                            <div class="text-center">
                               <a href=" https://join.com.kw/"
                               target="_blank">
                                <img 
                                style="width:100px;object-fit: cover;border-radius:10px;height:100px;background-color: white;"
                                src="assets/default.jpg" alt="">
                               </a>
                            </div>
                        </div>
                        <div class="col-lg-9 mb-3">
                           <div class="text-center text-lg-left">
                                <h4>JOIN</h4>
                                <p>E Commerce for a Kuwaiti company</p>
                                
                                <a 
                                style="text-decoration: underline;"
                                href=" https://join.com.kw/"
                                target="_blank"
                                >LIVE</a>
                           </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-12 mb-4">
                    <div class="row">
                        <div class="col-lg-3 mb-3">
                            <div class="text-center">
                               <a href="https://drastiiq8.com/"
                               target="_blank">
                                <img 
                                style="width:100px;object-fit: cover;border-radius:10px;height:100px;background-color: white;"
                                src="assets/DIRASATI-1707x2048.png" alt="">
                               </a>
                            </div>
                        </div>
                        <div class="col-lg-9 mb-3">
                           <div class="text-center text-lg-left">
                                <h4>DRASTI</h4>
                                <p>An online educational platform</p>
                                
                                <a 
                                style="text-decoration: underline;"
                                href="https://drastiiq8.com/"
                                target="_blank"
                                >LIVE</a>
                           </div>
                        </div>
                    </div>
                </div>
              
             
            </div>
        </div>
       
    
    </div>
    </div>