<div style="min-height: 100vh;" class="pding d-flex justify-content-center align-items-center   parent">
    <div class="text-center">
        <p class="mainColor">HELLO!</p>
        <h2>
            I'm <span class="mainColor">Mohammed Hassan</span> <br>
            <span class="mainColor"> A Front End</span> Developer
        </h2>
        <div class="d-flex justify-content-center">
          
                <a target="_blank" class="button text-white"
                    href="https://drive.google.com/file/d/1OafdGRhRhim4fnFSWl8sA11fSqDD2MbU/view?usp=sharing">
                    DOWNLOAD MY CV <i class="fas fa-download ml-2"></i>
                </a>
        </div>
    </div>
</div>