<div  class=" contact  text-white pding  " style="min-height: 100vh;">
    <div class="container">
         <h2 class="mainH2 pb-5 text-center">Contact Me</h2>
         <div class="row">
             <div class="col-md-12 mb-2" >
                 <a class="contact-hover d-flex" href="https://github.com/MohhamedHassan" target="_blank">
                         <i class="fab fa-github   "></i>
                         <span class="mx-2"></span>
                         <h3 class="">Github</h3>
                 </a> 
             </div>
             <div class="col-md-12 mb-2" >
                  
                             <a class="contact-hover d-flex" href="https://www.linkedin.com/in/mohamed-hassan-851277189/" target="_blank">
                                     <i class="fab fa-linkedin-in  "></i>
                                     <span class="mx-2"></span>
                                     <h3 class="">LinkedIn</h3>
                             </a> 
        
                 </div>
                 <div class="col-md-12 mb-2" >
                           <a 
                           href="mailto:fed.mohamed.hassan@gmail.com" 
                           class="contact-hover d-flex">
                                         <i class="fab fa-google "></i>
                                         <span class="mx-2"></span>
                                         <p
                                         style="word-break: break-all;"
                                         >fed.mohamed.hassan@gmail.com</p>
                                 </a> 
                   
                     </div>
                     <div class="col-md-12 mb-2" >
                         
                                     <div class="contact-hover d-flex">
                                             <i class="fas fa-phone-volume "></i>
                                             <span class="mx-2"></span>
                                             <p>02 37031456 / +20 111-084-8124 / +20 101-416-7486 </p>
                                     </div> 
                           
                         </div>
                         <div class="col-md-12 mb-2" >
                         
                                <a
                                href="https://api.whatsapp.com/send/?phone=201110848124&text&type=phone_number&app_absent=0" target="_blank"
                                class="contact-hover d-flex">
                                <i class="fab fa-whatsapp"></i>
                                        <span class="mx-2"></span>
                                        <p>+20 111-084-8124</p>
                                </a> 
                      
                    </div>

                        
         </div>
    </div>
</div>